<!DOCTYPE html>


<html>


    <head>
        <title>
                SmartShop
        </title>


        <style>
            body{
                background-color:rgb(180, 176, 243);
            }
        </style>
    </head>

    <body>
        <img src="logo.png" width="50">
        <form action="home.html" STYLE="position:absolute; TOP:10px; RIGHT: 250px; WIDTH:50px;">
            <input type="submit" value="Home" />
        </form>
        <form action="login.html" STYLE="position:absolute; TOP:10px; RIGHT:150px; WIDTH:50px;">
            <input type="submit" value="Login" />
        </form>  
        <form action="userprofile.html" STYLE="position:absolute; TOP:10px; RIGHT:50px; WIDTH:50px;">
            <input type="submit" value="UserProfile" />
        </form>   

    

<br> <br>
        <h1>About Us</h1>

        <h3> What do we do?</h3>
        <p> We make clothing searches easier for everyone while paying special attention to exploiation in foreign sweatshops.</p>
        <h3>Why do we do it?</h3>
        <p> Our goal is to help everyone save time that you would rather spend doing something else and we raise awareness for a major social justice issue of outsourcing.</p>
        <h3> Who we are:</h3>
        <ul>
            <li> Neil Chulani</li>
            <li> Anitez Gautam</li>
            <li> Divija Hasleer</li>
            <li> Adam Lee</li>
            <li> Richard Yoshioka</li>
        </ul>

    </body>
</html>