<!DOCTYPE html>


<html>


    <head>

        <title>
                User Profile
        </title>

        <style>
            body{
                background-color:rgb(180, 176, 243);
            }
        </style>
    </head>

    <body>
        <img src="logo.png" width="150">
        <form action="about.html" STYLE="position:absolute; TOP:10px; LEFT: 200px; WIDTH:50px;">
            <input type="submit" value="About" />
        </form>
        <form action="login.html" STYLE="position:absolute; TOP:10px; RIGHT:150px; WIDTH:50px;">
            <input type="submit" value="Login" />
        </form>  
        <form action="home.html" STYLE="position:absolute; TOP:10px; RIGHT: 250px; WIDTH:50px;">
            <input type="submit" value="Home" />
        </form>


<br> <br>
        <h1>User Profile</h1>
        <!--NEED DATA FROM DJANGO-->
        <h3>Username:</h3>
        <h3>User Gender:</h3>
        <h3>User Clothing Preference(s):</h3>